@model EmployeeDetailsViewModel

@{
    Employee employee = Model.Employee;
    ViewBag.Title = "Arbetare: " + employee.Name;
}

<p>Id: @employee.Id</p>
<p>E-mail: @employee.Email</p>
<p>Timlön: @employee.HourlyWage kr</p>

<div>
@if (employee.OnWork)
{
    <h3>Stämpla ut</h3>
}
else
{
    <h3>Stämpla in</h3>
}
<div>
    <partial name="_QRCode" model="@(Model.QrCodeBase64)" />
</div>
</div>

<h3>Stämplingar</h3>
@if (employee.Stamps.Count > 0)
{
    double totalHours = 0;
    <table>
        <tr>
            <th>In/Ut</th>
            <th>Dag</th>
            <th>Tid</th>
        </tr>
        @foreach (var item in employee.Stamps)
        {
                <tr>
                    <td>In</td>
                    <td>@item.Start.ToShortDateString()</td>
                    <td>@item.Start.ToShortTimeString()</td>
                </tr>
                @if (item.End.HasValue)
                {
                    <tr>
                        <td>Ut</td>
                        <td>@item.End.Value.ToShortDateString()</td>
                        <td>@item.End.Value.ToShortTimeString()</td>
                    </tr>

                    totalHours += (item.End.Value - item.Start).TotalHours;
                }
        }
    </table>

    decimal totalSalary = (decimal)totalHours * employee.HourlyWage;

    <p>Totalt arbetad tid: @totalHours.ToString("F2") timmar</p>
    <p>Total lön: @totalSalary kr</p>
}