@model Employee

@{
    ViewBag.Title = "Arbetare: " + @Model.Name;
}

<p>Id: @Model.Id</p>
<p>E-mail: @Model.Email</p>
<p>Timlön: @Model.HourlyWage kr</p>

<h3>Stämplingar</h3>
@if (Model.Stamps.Count > 0)
{
    double totalHours = 0;
    <table>
        <tr>
            <th>In/Ut</th>
            <th>Dag</th>
            <th>Tid</th>
        </tr>
        @foreach (var item in Model.Stamps)
        {
                <tr>
                    <td>In</td>
                    <td>@item.Start.ToShortDateString()</td>
                    <td>@item.Start.ToShortTimeString()</td>
                </tr>
                @if (item.End.HasValue)
                {
                    <tr>
                        <td>Ut</td>
                        <td>@item.End.Value.ToShortDateString()</td>
                        <td>@item.End.Value.ToShortTimeString()</td>
                    </tr>

                    totalHours += (item.End.Value - item.Start).TotalHours;
                }
        }
    </table>

    decimal totalSalary = (decimal)totalHours * Model.HourlyWage;

    <p>Totalt arbetad tid: @totalHours.ToString("F2") timmar</p>
    <p>Total lön: @totalSalary kr</p>
}