@model PayrollViewModel[]
@{
    ViewBag.Title = "Översikt Lönerapport";
}


<h1>Lönerapport</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Namn</th>
        <th>Arbetade timmar</th>
        <th>Timlön</th>
        <th>Lön</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmployeeId</td>
            <td>@item.Name</td>
            <td>@item.TotalHours.ToString("F2")</td>
            <td>@item.HourlyWage kr</td>
            <td>@item.TotalSalary.ToString("F2") kr</td>
        </tr>
    }
</table>